* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style: none;
}

.read-the-docs {
  color: #888;
}

@media print {
  body.print-element *:not(.print) {
    display: none;
  }
}