:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light;
  background-color: rgba(255, 255, 255, 0.87);
  color: #001a70;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
select {
  color: #001a70;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
input:hover,
input:focus,
select:focus,
select:hover {
  color: #646cff;
  -webkit-box-shadow: 1px 1px 5px 0px #646cff;
  -moz-box-shadow: 1px 1px 5px 0px #646cff;
  box-shadow: 1px 1px 5px 0px #646cff;
}
label:hover,
label:focus,
input:hover,
input:focus,
select:focus {
  color: #646cff;
  outline: #646cff;
}
input :focus {
  border: 2px solid #001a70;
  outline: #001a70;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  color: #001a70;
}
button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #001a70;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  opacity: 0.8;
}

button:focus-visible,
button:focus {
  background-color: #535bf2;
}
